.signIn__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 229px;
    font-family: Montserrat;
    color:white;
    position:relative;
    background: url('../../assets/images/signInBackground.png');
}

.signIn__wrapper{
    width: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
}

.signIn__header{
    font-weight: 500;
    font-size: 28px;
    color:white;
    letter-spacing: 3px;
}

.signIn__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}

.signInInput__container{
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
}

.email__input{
    background-color: transparent;
    padding: 5px 30px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2px;
    color:white;
    width:100%;
    ::placeholder{
        color:white;
    }
}
 
.password__input{
    background-color: transparent;
    padding: 5px 30px;
    font-weight: 400;
    font-size: 18px;
    width:90%;
    letter-spacing: 2px;
    color:white;
}

.passwordEye__button{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInSettings__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: -30px;
}

.rememberMe__container{
    display: flex;
    gap:24px;
    align-items: center;
}
.rememberMe__title{
    color:#797979;
    font-size: 20px;
    font-weight: 400;
    font-family: Alegreya Sans;
}
.forgotPassword{
    color:var(--primary-yellow,#EFB42D);
}

.signIn__button{
    width: 100%;
    height: 60px;
    background-color: var(--primary-yellow,#EFB42D);
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}

.signInWithGoogle__button{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}
.signInWithGoogle__icon{
    position: absolute;
    top:18px;
    left: 30px;
    font-weight: 500;
}
.noAccount__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.noAccount__text{
    text-align: center;
    width: 413px;
}
.rememberMe__checkbox{
    width: unset;
}

.cornerSvg{
    position: absolute;
    top:20px;
}