:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


.homePage__container {
    max-width: 90.3%;
    margin: 0 auto;
}

.first_screen {
    background: url('../../assets/images/first_screen.png');
    background-repeat: no-repeat;
    background-size: 100% 835px;
    background-position: center;
    position: relative;
}

.fs__content {
    display: flex;
    height: 835px;
}


.socials {
    margin-top: 210px;
    height: 315px;
    width: 15.4%;
}

.rotate {
    height: 24px;
    width: 230px;
    transform: rotate(90deg);
    transform-origin: 0px 24px;
}

.rotate__text {
    color: var(--theme-white, #FFF);
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-align: right;
}

.inst__container {
    margin-top: 247px;
}

.tg__container {
    margin-top: 20px;
}

.main__paragraph {
    margin-top: 240px;
    height: 315px;
    width: 53.8%;
}

.gurnal {
    display: flex;
    align-items: center;
}

.line {
    width: 81px;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-yellow, #EFB42D);
    margin-right: 30px;
}
.newsLine{
    width: 81px;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-yellow, #EFB42D);
    margin-right: 30px;
}

.eGurnal {
    color: var(--primary-yellow, #EFB42D);
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}

.main__phrase {
    width: 110%;
    height: 205px;
}

.mPhrase {
    color: var(--theme-white, #FFF);
    font-family: 'Montserrat';
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
}

.pageNav {
    display: block;
    margin-top: 240px;
    margin-left: auto; 
    margin-right: 0;
    width: 135px;
    height: 313px;
}

.pNav__container {
    display: flex;
    padding-right: 25px;
    padding-top: 27px;
    height: 78px;
    border-right: 4px solid;
    border-color: #797979;
    transition: all 0.3s linear;
}

.pNav__btn {
    margin-left: auto;
    margin-right: 0;
    color: var(--secondary-gray, #D0D0D0);
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}

.pNav__container:hover {
    border-color: #FFF;
}

.pNav__container:hover .pNav__btn {
    color: #FFF;
}

.news__page {
    display: flex;
    flex-direction: column;
    // height: 630px;
}

.pageNum {
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    width: 91.387px;
    height: 72px;
    margin-top: 90px;
    margin-left: 150px;
}

.numCircle {
    width: 111px;
    height: 111px;
    margin-top: 70px;
    margin-left: 140px;
}

.newsPage__title {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 180px;
}

.news {
    color: var(--primary-yellow, #EFB42D);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}

.ant-carousel .slick-list .slick-slide>div>div{
    width: 362px;
}

.slider__container {
    margin-top: 60px;
    margin-left: 150px;
}
.news__title {
    display: flex;
    justify-content: space-between;
}

.news__name {
    color: var(--primary-yellow, #EFB42D);
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.news__date {
    color: var(--theme-white, #FFF);
    text-align: right;
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news__text  {
    width: 302px;
    color: var(--secondary-gray, #D0D0D0);
    font-family: 'Alegreya Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}
.ant-carousel .slick-slider{
    display: none;
    width: 95%; 
}
@media screen and (max-width:'1920px'){
    .ant-carousel .slider_xxxl{
        display: block;
    }
}
@media screen and (max-width:'1440px'){
    .ant-carousel .slider_xxxl{
        display: none;
    }
    .ant-carousel .slider_xxl{
        display: block;
    }
}
.slick-arrow::before{
    content:'>' !important;
    color:white !important;
    line-height: unset !important;
    font-size: 30px !important;
    display: flex !important;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-20px;
    left:-20px;
}
.slick-prev::before{
    content: '<' !important;
    position: absolute;
    top:-20px;
    left:-20px;
}

.slider__wrapper .news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

.slider__element {
    width: 362px !important; 
    height: 200px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    background: var(--theme-dark, #0B1D26);
    box-shadow: 0px 1px 10px 0px rgba(255, 255, 255, 0.10);
    object-fit: cover;
}
.slick-slide{
    padding: 5px;
}
.gournal__info {
    display: flex;
    height: 667px;
    padding-top: 200px;
    background-repeat: no-repeat;
    background-size: 100% 443px;
    position: relative;
    margin-bottom: 200px;
}
@media screen and (max-width:'1920px'){
    .gournal__info {
        background-position-x:center;
        background-position-y:153px;

    }
}

@media screen and (max-width:'1440px'){
    .gournal__info {
        background-position-x:center;
        background-position-y:213px;
    }
}

.info__header {
    display: flex;
    position: absolute;
    width: 330px;
    margin-left: 39%;
}

.infoPage__title {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 76px;
    margin-left: 25px;
}

.secondNum {
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    width: 91.387px;
    height: 72px;
}

.info__content {
    display: flex;
}

.laptop__container {
    width: 443px;
    height: 373px;
    margin-left: 9%;
    margin-top: 54px;
}


.info__block {
    margin-top: 118px;
    height: 290px;
    max-width: 46.2%;
    margin-left: 8%;
    margin-right: 10%;
}

.info__h1 {
    color: var(--theme-white, #FFF);
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    margin-bottom: 20px;
}

.info__paragraph {
    color: var(--theme-white, #FFF);
    font-family: Alegreya Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.info__btn {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    width: 222px;
    height: 40px;
    border-radius: 10px;
    background: var(--primary-yellow, #EFB42D);
    color: var(--theme-white, #FFF);
    text-align: center;
    font-family: Alegreya Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.about__page {
    display: flex;
    height: 560px;
}

.about__header {
    position: absolute;
    margin-left: 11.5%;
}

.thirdNum {
    position: absolute;
    margin-top: 190px;
}

.thirdCircle {
    width: 141px;
    height: 141px;
    border-radius: 999px;
    background: #463406;
    filter: blur(60px);
    margin-top: 150px;
}

.aboutPage__number {
    position: absolute;
}

.about__title {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 270px;
    margin-left: 25px;
    width: 220px;
}

.about__content {
    display: flex;
}

.about__block {
    margin-top: 300px;
    margin-left: 12.6%;
    max-width: 44%;
}

.about__h1 {
    color: var(--theme-white, #FFF);
    font-family: Montserrat;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    margin-bottom: 20px;
}

.about__paragraph {
    color: var(--theme-white, #FFF);
    font-family: Alegreya Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about__img {
    margin-left: 5.5%;
}

.sup__img {
    position: absolute;
    z-index: 2;
}

.sup__back {
    position: absolute;
    margin-top: 251px;
    width: 396px;
    height: 309px;
    border-radius: 10px;
    background: var(--primary-yellow, #EFB42D);
    z-index: 1;
}

.sup__circle {
    position: absolute;
    margin-top: 3%;
    left: 72%;
    width: 333px;
    height: 333px;
    border-radius: 999px;
    background: #4F3B08;
    filter: blur(60px); 
}

.homePage{
    &.dark{
        .rotate__text{
            color:#FFF;
        }
        .inst{
            fill:#FFF;
        }
        .tg{
            fill:#FFF;
        }
        .first_screen{
            background: url('../../assets/images/first_screen.png');
            background-repeat: no-repeat;
            background-size: 100% 835px;
            background-position: center;
        }
        .eGurnal{
            color:#FFF;
        }
        .line{
            background-color:#FFF;
        }
        .mPhrase{
            color:#FFF;
        }
        .newsLine{
            background-color: #EFB42D;
        }
        .line{
            background-color: #EFB42D;
        }
        .eGurnal{
            color:var(--primary-yellow,#EFB42D);
        }
        .gournal__info{
            background-image: url('../../assets/images/infoJournalBackDark.png');
        }
    }
    &.light{
        .rotate__text{
            color:var(--primary-black,#0B1D26);
        }
        .inst{
            fill:#0B1D26;
        }
        .tg{
            fill:#0B1D26;
        }
        .first_screen{
            background: url('../../assets/images/firstScreenLight.png');
            background-repeat: no-repeat;
            background-size: 100% 835px;
            background-position: center;
        }
        .eGurnal{
            color:#0B1D26;
        }
        .line{
            background: var(--primary-yellow, #0B1D26);
        }
        .mPhrase{
            color:#0B1D26;
        }
        .pNav__container{
            border-color:#FFF;
        }
        .pNav__btn{
            color:#FFF;
        }
        .pNav__container:hover{
            border-color:#0B1D26;
            .pNav__btn{
                color: #0B1D26;
            }
        }
        .news__page{
            background-color: #FFF;
        }
        .news__text{
            color: #797979;
        }
        .slider__element{
            background-color: #FFF;
        }
        .sectionNumber{
            fill:black;
        }
        .news__date{
            color:#0B1D26;
        }
        .newsLine{
            background-color: #EFB42D;
        }
        .gournal__info{
            background-color: #FFF;
        }
        .info__h1{
            color:#0B1D26;
        }
        .about__h1{
            color:#0B1D26;
        }
        .about__page{
            background-color: #FFF;
        }
        .about__paragraph{
            color:#0B1D26;
        }
        .info__paragraph{
            color:#0B1D26;
        }
        .sup__circle{
            background: #ebb52cb0;
            filter: blur(60px); 
        }
        .thirdCircle{
            background: #eb2c2cc3;
            filter: blur(60px); 
        }
        .slick-arrow::before{
            color:black !important;
        }
        .slick-prev::before{
            color:black !important;
        }
        .gournal__info{
            background-image: url('../../assets/images/infoJournalBackLight.png');
        }
    }
}


