.faqMain__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 190px 15%;
    font-family: Montserrat;
}

.faqTitle{
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.1em;
}
.ant-collapse{
    border:none;    
}
.ant-collapse-header-text{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: left;
}
.ant-collapse-content-box {
    padding: 20px 40px !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: left;

}
.ant-collapse .ant-collapse-content{
    border: none;
}
.ant-collapse-content {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 10px !important;
}
.faqQuestionTextArea{
    border-radius: 10px 5px;
    min-height: 140px !important;
    color:white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
    padding: 20px 40px;
}
.ant-input::placeholder{
    color:#D0D0D0;
    //styleName: H/H4;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-align: left;
}
.faqForm{
    display: flex;
    flex-direction: column;
    gap:40px;
}
.faqSubmit{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    border-radius: 10px 5px;
    width: 190px;
    height: 40px;
}
.faqMain__container{
    &.dark{
        .faqTitle{
            color:white;
        }
        .ant-collapse-header-text{
            color:white;
        }
        .ant-collapse-expand-icon{
            path{
                stroke:white !important;
                fill:white !important;
            }
        }
        .ant-collapse-item:hover{
            path{
                stroke:#EFB42D !important;
                fill:#EFB42D !important;
            }
        }
        .ant-collapse-content {
            background-color: #0e2936 !important;
            color:white;
        }
        .ant-input{
            background-color: #102936;
        }
        .ant-input{
            color:white;
        }
        .ant-input::placeholder{
            color:#D0D0D0;
        }
        .faqSubmit{
            color:#D0D0D0;
            background-color: #102936;
        }
        .ant-collapse-item-active{
            path{
                stroke:#EFB42D !important;
                fill:#EFB42D !important;
            }
        }
    }
}