.editGroupMain_container{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 200px 5% 100px 5%;
    font-family: Montserrat;
}
.editGroupSelect__container{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.editGroupHeader{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.1em;
    display: flex;
    gap:20px;
    align-items: center;
}
.editGroupMain_container.dark{
    .createUserInput__label{
        color:white;
    }
    .createUserTitle{
        color:white;
    }
    .editGroupHeader{
        color: white;
    }
}
