.createUser__main{
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 100%;
    padding: 200px 5% 0 5%;
    font-family: Montserrat;
}

.createUserTitle{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: left;
}
.createUserForm{
    display: flex;
    flex-direction: column;
    gap:60px;
    width: 100%;
}

.createUserFormInputs__container{
    display: flex;
    width:100%;
    gap:30px;
}
.createUserNameInput__container{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 55%;
    max-width: 640px;
    min-width: 350px;
}
.createUserEmailInput__container{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 48%;
    max-width: 640px;
    min-width: 250px;
    
}
.createUserInput__label{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
}

.createUser__input{
    width: 100%;
    font-size: 18px;
    border-radius: 10px 5px;
    height: 63px;
    padding-left:28px;
}
.createUserFormSelects__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
@media screen and (max-width:'900px'){
    .createUserFormInputs__container{
        flex-wrap: wrap;
    }
    .createUserNameInput__container{
        max-width: unset;
        width: 100%;
    }
    .createUserEmailInput__container{
        max-width: unset;
        width: 100%;
    }
}
.createUserSelect__container{
    display: flex;
    gap:20px;
    flex-direction: column;
}

.createUser__button{
    width: 191px;
    height: 41px;
    border-radius: 10px 5px;
}
.createUserButtons__container{
    display: flex;
    gap:20px;
}

.dark{
    .createUserTitle{
        color:white;
    }
    .createUserInput__label{
        color:white;
    }
    .createUser__input::placeholder{
        color:#D0D0D0;
    }
    .ant-select-selector{
        background-color: #102936 !important;
        border:none !important;
        font-weight: 500;
    }
    .ant-select-selection-item{
        color:white !important;
    }
    .createStudyMaterialsSelect__wrapper{
        background-color: #102936;
    }
    .createUser__input{
        background-color: #102936;
    }
    input{
        color:white;
    }
    .createUser__button{
        background-color: #102936;
    }
    .createUser__button{
        color:white;
    }
}