.lessonsSchedule__container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1035px;
    // column-gap:150px;
    justify-content: space-between;
    row-gap: 80px;
    // padding: 0 20px;
}

.lessonsScheduleDay__container{
    width: 32%;
    min-width: 288px;
}
@media screen and (min-width:780px) {
    .lessonsScheduleDay__container{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
.lessonsScheduleDay__header{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding-left: 15px;
}

.lessonsScheduleDayLessons__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lessonsScheduleDayLessonItem__container{
    display: flex;
    align-items: center;
    gap:30px;
    height: 32px;;
}
.lessonsScheduleLessonNumber{
    font-weight: 400;
    font-size: 20px;
    width: 15px;
}
.lessonsScheduleLessonName{
    font-weight: 400;
    font-size: 20px;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lessonsScheduleLessonGroup{
    font-weight: 400;
    font-size: 20px;
    color:#797979;
    path{
        transition: 0.2s;
        stroke:#797979;
        fill:transparent;
    }

}

.lessonsScheduleLessonGroup:hover{
    path{
        stroke:#EFB42D;
    }
}
.scheduleTimingsTitle{
    font-size: 20px;
}
.studentProfielScheduleGoToTasks_container{
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    border-radius: 10px 5px;
    width: 355px;
    height: 290px;
    margin-top: 70px;
    transition: 0.2s;
    margin-right: 10px;
}
path{
    transition: 0.1s;
}
.studentProfielScheduleGoToTasks_title{
    transition: 0.2s;
}
.studentProfielScheduleGoToTasks_text{
    text-align: center;
    width: 60%;
}

.lessonsSchedule__container{
    &.dark{
        .lessonsScheduleDay__header{
            color:#D0D0D0;
        }
        .lessonsScheduleLessonNumber{
            color:white;
        }
        .lessonsScheduleLessonName{
            color:white;
        }
        .lessonsScheduleLessonGroup{
            font-weight: 400;
            font-size: 20px;
            color:#797979;
        }
        .lessonsScheduleDay__header.currentDay{
            color:#EFB42D;
        }
        .scheduleTimingsTitle{
            color:white;
        }
        .studentProfielScheduleGoToTasks_container{
            background-color: #102936;
        }
        .studentProfielScheduleGoToTasks_title{
            color:white;
        }
        .studentProfielScheduleGoToTasks_text{
            color:white;
        }
        svg{
            fill: transparent;
        }
        path{
            stroke:white;
        }   
        .magnifierSvg{
            fill:#ffffff;
            path{
                fill:#ffffff;
            }
        }
        .lessonsScheduleLessonGroup:hover{
            path{
                stroke:#EFB42D;
            }
        }
        .studentProfielScheduleGoToTasks_container:hover{
            .magnifierSvg{
                fill:#EFB42D;
                path{
                    fill:#EFB42D;
                }
            }
            path{
                stroke:#EFB42D;
            }
            .studentProfielScheduleGoToTasks_title{
                color:#EFB42D;
            }
        }
    }
    // &.light{

    // }
}
.lessonsScheduleDayCarousel{
    display: none;
}
@media screen and (max-width:780px) {
    .lessonsScheduleDay__container:not(.shedule){
        display: none;
    }
    .scheduleTimingsTitle{
        margin-bottom: 20px;
    }
    .lessonsScheduleDay__header{
        text-align: center;
        margin-bottom: 20px;
    }
    .lessonsScheduleDayCarousel{
        display: block;
    }
    .lessonsScheduleLessonName{
        width: 55%;
    }
    .ant-carousel .lessonsScheduleDayCarousel,
    .slick-initialized{
        display: block !important;
        width: 98vw !important;
    }
    .slick-slide.slick-active.slick-current{
        // width: unset !important;
        width: 98vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .studentProfileTab__title{
        text-align: center !important;
    }
    .lessonsSchedule__container{
        flex-direction: column;
        align-items: center;
    }
    .lessonsScheduleDay__container{
        display: unset ;
    }
}
.shedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    .lessonsScheduleDayLessons__container{
        width: 200px;
    }
}