.studentProfile__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 229px 7% 0;
    justify-content: center;
    gap:120px;
    font-family: Montserrat;
    background-image: url('../../assets/images/signInBackground.png');
}

.studentProfileMain__container{
    display: flex;
    // align-items: flex-start;
    gap:130px;
}

.studentProfileLeft__container{
    display: flex;
    flex-direction: column;
    gap:90px;
}

.studentProfileInfo__container{
    display: flex;
    gap:30px;
    align-items: flex-start;
}

.studentProfile_img{
    width: 81px;
    height: 81px;
    object-fit: contain;
    border-radius:50%;
}

.studentProfileTextInfo__container{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.studentProfile__name{
    font-weight: 500;
    font-size: 28px;
    display: flex;
    gap:30px;
    align-items: flex-end;
}
.editProfileSvg{
    transition: 0.3s;
    cursor: pointer;
    fill: var(--primary-gray);
}
.editProfileSvg:hover{
    fill: var(--primary-orange) !important;
}
.editUserProfile_button{
    border: none;
    outline: none;
    background: transparent;
}
.studentProfile__email{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.studentProfile__bio{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    width: 50%;
}
.studentProfile__group{
    font-weight: 400;
    font-size: 20px;
    padding-top: 15px;
    line-height: 24px;
    width: fit-content;
}

.studentProfileTabs__container{
    display: flex;
    flex-direction: column;
    margin-left: 111px;
    gap:60px;
    align-items: flex-start;
}

.studentProfileTab__button{
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    gap:30px;
    transition: 0.2s;
}
.diagonalArrowSvg{
    transition: 0.2s;
}

.studentProfileStatistic__container{
    padding: 25px 97px 40px 81px;
    display: flex;
    flex-direction: column;
    gap:30px;
    border-radius: 10px 5px 10px 5px;
}

.studentProfileStatistic__header{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}
.studentProfileStatistic__value{
    font-weight: 400;
    font-size: 38px;
    line-height: 34px;
}
.na{
    color:#ED3434;
}
.good{
    color:#2DEF40;
}
.med{
    color:var(--primary-orange);
}

@media screen and (min-width:'1450px'){
    .studentProfileMain__container{
        // width: 1189px;
        width: 90%;
        justify-content: space-between;
    }
}

.profile_detailedInfo_section{
    background: #102936;
    display: flex;
    padding: 30px 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.profile_detailedInfo_dir_container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    // justify-content: space-between;
    column-gap:60px;    
}
.profile_detailedInfo_dir_header{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    width: 100%;
}
.studentProfileTab__title{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    width: 97%;
    text-align: start;
}
.profile_detailedInfo_itemContainer{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 250px;
}
.profile_detailedInfo_item_header{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
}
.profile_detailedInfo_item_text{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
}

.dark{
    .profile_detailedInfo_item_text{
        color: white;
    }
    .profile_detailedInfo_item_header{
        color: #D0D0D0;
    }
    .profile_detailedInfo_dir_header{
        color:white;
    }
    .profile_detailedInfo_section{
        background: #102936;
    }
    .studentProfile__name{
        color:white;
    }
    .studentProfile__email{
        color:var(--primary-gray);
    }
    .studentProfile__group{
        color:white;
    }
    .studentProfileTab__button{
        color:white;
        .diagonalArrowSvg {
            fill:white;
        }
    }
    .studentProfileTab__button.picked{
        color:var(--primary-orange);
        .diagonalArrowSvg{
            fill:var(--primary-orange);
        }
    }
    .studentProfileStatistic__header{
        color:white;
    }
    .studentProfileStatistic__container{
        background-color: rgb(27,40,48,0.85);
    }
    .studentProfileTab__title{
        color:white;
    }
    .studentProfileTab__button:hover{
        color:var(--primary-orange);
        .diagonalArrowSvg{
            fill:orange;
        }
    }
    .medium{
        color:var(--primary-orange);
    }
    .studentProfile__bio{
        color: #D0D0D0;
    }
}
.light{
    .studentProfileTab__button{
        color:black;
        .diagonalArrowSvg{
            fill:black;
        }
    }
    .studentProfileTab__button.picked{
        color:var(--primary-orange);
        .diagonalArrowSvg{
            fill:var(--primary-orange);
        }
    }
    .studentProfileTab__button:hover{
        color:var(--primary-orange);
        .diagonalArrowSvg{
            fill:var(--primary-orange);
        }
    }
}

@media screen and (min-width:2200px) {
    .studentProfile_img{
        width: 120px;
        height: 120px;
    }
    .studentProfileStatistic__container{
        padding: 25px 105px 25px 151px;
    }
}

@media screen and (max-width:780px) {
    .studentProfileMain__container{
        flex-direction: column;
        align-items: center;
    }
    .studentProfileTabs__container{
        margin-left: 0;
    }
    .studentProfileInfo__container{
        flex-direction: column;
        align-items: center;
    }
    .studentProfileTextInfo__container{
        align-items: center;
    }
    .studentProfile__container{
        padding-top: 80px;
    }
    .studentProfile__name{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1em;
    }
    .studentProfileLeft__container{
        width: 100%;
    }
    .studentProfile__email{
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.1em;
    }
    .studentProfile__group{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.1em;
    }
    .studentProfileStatistic__container{
        padding: 30px;
        box-sizing: border-box;
    }
    .lessonsSchedule__container{
        row-gap: 40px;
    }
}