.lessonsSchedule__container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1035px;
    // column-gap:150px;
    justify-content: space-between;
    row-gap: 80px;
    // padding: 0 20px;
}

.lessonsScheduleDay__container{
    width: 32%;
    min-width: 288px;
}
@media screen and (min-width:780px) {
    .lessonsScheduleDay__container{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
.lessonsScheduleDay__header{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    padding-left: 15px;
}

.lessonsScheduleDayLessons__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lessonsScheduleDayLessonItem__container{
    display: flex;
    align-items: center;
    gap:30px;
    height: 32px;;
}
.lessonsScheduleLessonNumber{
    font-weight: 400;
    font-size: 20px;
    width: 15px;
}
.lessonsScheduleLessonName{
    font-weight: 400;
    font-size: 20px;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lessonsScheduleLessonGroup{
    font-weight: 400;
    font-size: 20px;
    color:#797979;
    path{
        transition: 0.2s;
        stroke:#797979;
        fill:transparent;
    }

}

.lessonsScheduleLessonGroup:hover{
    path{
        stroke:var(--primary-orange);
    }
}
.scheduleTimingsTitle{
    font-size: 20px;
}
.studentProfielScheduleGoToTasks_container{
    cursor:pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    border-radius: 10px 5px;
    width: 355px;
    height: 290px;
    margin-top: 70px;
    transition: 0.2s;
    margin-right: 10px;
}
path{
    transition: 0.1s;
}
.studentProfielScheduleGoToTasks_title{
    transition: 0.2s;
}
.studentProfielScheduleGoToTasks_text{
    text-align: center;
    width: 60%;
}
.lessonsScheduleLessonEnd,
.lessonsScheduleLessonStart{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
}
.lessonsSchedule__container{
    &.dark{

        svg{
            fill: transparent;
        }
        path{
            stroke:white;
        }   
        .magnifierSvg{
            fill:#ffffff;
            path{
                fill:#ffffff;
            }
        }
        .lessonsScheduleLessonGroup:hover{
            path{
                stroke:var(--primary-orange);
            }
        }
        .studentProfielScheduleGoToTasks_container:hover{
            .magnifierSvg{
                fill:var(--primary-orange);
                path{
                    fill:var(--primary-orange);
                }
            }
            path{
                stroke:var(--primary-orange);
            }
            .studentProfielScheduleGoToTasks_title{
                color:var(--primary-orange);
            }
        }
        
    }
    // &.light{

    // }
}
.dark{
    .lessonsScheduleDay__header{
        color:var(--primary-gray);
    }
    .lessonsScheduleLessonNumber{
        color:white;
    }
    .lessonsScheduleLessonName{
        color:white;
    }
    .lessonsScheduleLessonGroup{
        font-weight: 400;
        font-size: 20px;
        color:#797979;
    }
    .lessonsScheduleDay__header.currentDay{
        color:var(--primary-orange);
    }
    .scheduleTimingsTitle{
        color:white;
    }
    .studentProfielScheduleGoToTasks_container{
        background-color: var(--secondary-blue);
    }
    .studentProfielScheduleGoToTasks_title{
        color:white;
    }
    .studentProfielScheduleGoToTasks_text{
        color:white;
    }
    .lessonsScheduleLessonEnd,
    .lessonsScheduleLessonStart{
        color:var(--primary-gray);
    }
}
.ant-carousel .slick-slider.lessonsScheduleDayCarousel{
    display: none;
}
@media screen and (max-width:780px) {
    .lessonsScheduleDay__container:not(.shedule){
        display: none;
    }
    .scheduleTimingsTitle{
        margin-bottom: 20px;
    }
    .lessonsScheduleDay__header{
        text-align: center;
        margin-bottom: 20px;
    }
    .lessonsScheduleDayCarousel{
        display: block;
    }
    .lessonsScheduleLessonName{
        width: 55%;
    }
    .ant-carousel .lessonsScheduleDayCarousel{
        display: block !important;
        width: 98vw !important;
    }
    .slick-slide.slick-active.slick-current{
        // width: unset !important;
        width: 98vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .studentProfileTab__title{
        text-align: center !important;
    }
    .lessonsSchedule__container{
        flex-direction: column;
        align-items: center;
    }
    .lessonsScheduleDay__container{
        display: unset ;
    }
    .shedule{
        margin-top: 40px;
        .scheduleTimingsTitle{
            font-size: 28px;
            font-weight: 500;
            line-height: 34px;
            letter-spacing: 0.1em;
        }
    }
    .lessonsScheduleDay__container{
        width: unset;
    }
    .shedule{
        display: flex;
        flex-direction: column;
        align-items: center;
        .lessonsScheduleDayLessons__container{
            width: 200px;
        }
    }
    // .lessonsScheduleDay__header{
    //     display: none;
    // }
}