.studyMaterialsMain__container{
    padding:170px 4.5% 0 4.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
    font-family: Montserrat;
    width:100%;
}

// @media screen and (max-width:2200px) {
//     .studyMaterialsMain__container{
//         padding:170px 9.5% 0 9.5%;
//     }
// }
// @media screen and (max-width:1920px) {
//     .studyMaterialsMain__container{
//         padding:170px 15.5% 0 15.5%;
//     }
// }
// @media screen and (max-width:1440px) {
//     .studyMaterialsMain__container{
//         padding:170px 4.5% 0 4.5%;
//     }
// }
.studyMaterialsSearch__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.studyMaterialsSearchInput__container{
    max-width: 450px;
    width: 30%;
    height: 40px;
    border-radius: 10px 5px;
    display: flex;
    align-items: center;
}
.studyMaterialsSearch__input{
    height: 40px;
    width: 89%;
    padding-left: 10%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.studyMaterialsSearch__button{
    background-color: transparent;
    outline: none;
    border: none;
}

.studyMaterialsItems__section{
    display: flex;
    justify-content: center;
    width: 100%;
}
.studyMaterialsItems__container{
    display: flex;
    column-gap:30px;
    row-gap:60px;
    flex-wrap: wrap;
    width:100%;
}
@media screen and (max-width:2900px) {
    .studyMaterialsItems__container{
        width:84%;
    }
}
@media screen and (max-width:2200px) {
    .studyMaterialsItems__container{
        width:90%;
    }
}
@media screen and (max-width:1920px) {
    .studyMaterialsItems__container{
        width:100%;
    }
}
@media screen and (max-width:1800px) {
    .studyMaterialsItems__container{
        width:79.55%;
    }
}
@media screen and (max-width:1600px) {
    .studyMaterialsItems__container{
        width:89.5%;
    }
}
@media screen and (max-width:1440px) {
    .studyMaterialsItems__container{
        width:100%;
    }
}
@media screen and (max-width:1310px) {
    .studyMaterialsItems__container{
        width:100%;
    }
}
@media screen and (max-width:945px) {
    .studyMaterialsItems__container{
        justify-content: center;
    }
}
.studyMaterialsItem__container{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.studyMaterialsItem__title{
    width: 100%;
    padding-left: 5%;
    white-space: break;
    text-overflow: ellipsis;
}
.studyMaterialsContent__container{
    border-radius: 10px 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:20px;
    width: 413px;
    height: 210px;
    overflow: hidden;
    position: relative;
}
.studyMaterialsContent__text{
    width: 100%;
    text-overflow: ellipsis;
    font-size: 20px;    
    font-family: Alegreya sans;
    line-height: 24px;
}
.studyMaterialsContentHashTags__container{
    display: flex;
    column-gap:20px;
    row-gap:10px;
    flex-wrap: wrap;
}
.studyMaterialsContentHashTagItem__container{
    border-radius: 10px 5px;
    padding: 2px 15px;
}
.studyMaterialsContentHashTagItem__name{
    font-size: 18px;
    letter-spacing: 10%;
}
@keyframes orangeBar {
    from {width: 0}
    to {width: 413px;}
}
.studyMaterialsContent__container:hover{
    .studyMaterialsItemHoverAnimation{
        animation: orangeBar 0.5s ease-in forwards;
    }
}
.studyMaterialsItemHoverAnimation{
    height:2px;
    background-color: #EFB42D;
    border-radius:10px 5px;
    position: absolute;
    bottom:0;
    left: 0;
}
.studyMaterialsSeeMore__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.studyMaterialSeeMore__button{
    width: 414px;
    border-radius: 10px 5px;
    height: 40px;
}


.studyMaterialsMain__container{
    &.dark{
        .studyMaterialsSearchInput__container{
            background-color: #102936;
        }
        .studyMaterialsSearch__input{
            color:white;
        }
        .studyMaterialsSearch__input::placeholder{
            color:#D0D0D0;
        }
        .fillterImg{
            stroke:white;
        }
        .studyMaterialsContent__container{
            background-color: #102936;
        }
        .studyMaterialsContent__text{
            color:#D0D0D0;
        }
        .studyMaterialsContentHashTagItem__container{
            background-color: #0B1D26;
        }
        .studyMaterialsContentHashTagItem__name{
            color:white;
        }
        .studyMaterialsItem__title{
            color:white;
        }
        .studyMaterialsContent__container:hover{
            .studyMaterialsContent__text{
                color:white;
                transition: 0.2s;
                cursor: pointer;
            }
        }
        .studyMaterialsSearch__button:hover{
            .fillterImg{
                transition: 0.2s;
                stroke: #EFB42D;
            }
        }
        .studyMaterialSeeMore__button{
            background-color: #102936;
            color:white;
        }
        .studyMaterialSeeMore__button:hover{
            transition: 0.2s;
            color:#EFB42D;
        }
    }
    &.light{
        .studyMaterialsSearchInput__container{
            background-color: #F2F2F2;
        }
        .studyMaterialsSearch__input{
            color:black;
        }
        .studyMaterialsSearch__input::placeholder{
            color:#797979;
        }
        .fillterImg{
            stroke:#797979;
        }
        .studyMaterialsContent__container{
            box-shadow: 0px 1px 15px 0px #0000001A;
        }
        .studyMaterialsContent__container{
            background-color: white;
        }
        .studyMaterialsContent__text{
            color:#797979;
        }
        .studyMaterialsContentHashTagItem__container{
            background-color: #F2F2F2;
        }
        .studyMaterialsContentHashTagItem__name{
            color:#0B1D26;
        }
        .studyMaterialsItem__title{
            color:#0B1D26;
        }
        .studyMaterialsContent__container:hover{
            .studyMaterialsContent__text{
                color:#0B1D26;
                transition: 0.2s;
                cursor: pointer;
            }
        }
        .studyMaterialsSearch__button:hover{
            .fillterImg{
                transition: 0.2s;
                stroke: #EFB42D;
            }
        }
        .studyMaterialSeeMore__button{
            background-color: white;
            color:#797979;
            box-shadow: 0px 1px 15px 0px #0000001A;
        }
        .studyMaterialSeeMore__button:hover{
            transition: 0.2s;
            color:#EFB42D;
        }
    }
}