
footer {
    display: flex;
}

.footer__content {
    display: flex;
    margin-top: 180px;
    height: 240px;
}

.footer__logo {
    position: absolute;
    left: 9.8%;
    max-width: 20.8%;
    z-index: 2;
}

.footer__title {
    margin-top: 20px;
    color: var(--theme-white, #FFF);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.footer__circle {
    position: absolute;
    z-index: 1;
    margin-left: 25.7%;
    width: 240px;
    height: 240px;
    border-radius: 999px;
    background: #052142;
    filter: blur(60px);
}

.btn__lists {
    display: flex;
    position: absolute;
    gap: 100px;
    max-width: 630px;
    justify-content: space-between;
    margin-left: 55%;
}

.footer__list {
    max-width: 300px;
}

.footer__list li {
    margin-bottom: 30px;
}

.fList__title {
    margin-bottom: 30px;
    color: var(--primary-yellow, #EFB42D);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.fList__btn {
    color: var(--secondary-gray, #D0D0D0);
    font-family: Alegreya Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s linear;
}

.fList__btn:hover {
    color: var(--theme-white, #FFF);
}

.bottom__title {
    // position: absolute;
    // left: 9.8%;
    margin-top: 60px;
    margin-left: 9.8%;
    padding-bottom: 30px;
}

.bottom__text {
    color: var(--secondary-gray, #D0D0D0);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
}

.footer__content{
    &.dark{
        .footer__title{
            color:#FFF;
        }
        .fList__title{
            color:#FFF;
        }
        .fList__btn{
            color:#FFF;
        }
       
    }
    &.light{
        footer{
            background-color: #FFF;
        }
        .footer__content{
            background-color: #FFF;
        }
        .footer__title{
            color:var(--primary-black,#0B1D26);
        }
        .fList__title{
            color:var(--primary-black,#0B1D26);
        }
        .fList__btn{
            color:var(--primary-black,#0B1D26);
        }
        .bottom__text{
            color:#0B1D26;
        }
        .footer__circle{
            background: #2c84e9b0;
            filter: blur(60px); 
        }
    }
}

