.scheduleCreate__main{
    display: flex;
    flex-direction: column;
    padding: 191px 15%;
    width: 100%;
    gap:20px;
    font-family: Montserrat;
}
.scheduleCreate__h1{
    font-size: 28px;
    letter-spacing: 10%;
}
.scheduleCreateControllers__container{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}
.scheduleCreateControllers__item{
    border-radius: 10px 5px 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 47%;
    cursor: pointer;
    height: 200px;
    transition: 0.3s;

    svg{
        transition: 0.3s;
        width: 45px;
        height: 45px;
    }
    .scheduleCreateControllerItem__title{
        transition: 0.3s;
    }
    path{
        transition: 0.3s;
    }
}

.scheduleCreateControllerItem__title{
    font-size: 18px;
}
.scheduleCreateControllerItem__text{
    font-size: 16px;
    text-align: center;
}
.scheduleCreateControllers__item:hover{
    .scheduleCreateControllerItem__title{
        color:#EFB42D;
    }
    box-shadow: 0px 0px 10px 0px #D4D4D41A;
    svg{
        stroke:#EFB42D;
       
    }
}

.scheduleCreate__main{
    &.dark{
        color:white;
        .scheduleCreateControllers__item{
            background-color: #102936;
        }
        svg{
            stroke:white;
        }
        path{
            stroke:white;
        }
        .scheduleCreateControllers__item:hover{
            svg{
                stroke:orange;
            }
            path{
                stroke:orange;
            }
        }
    }
    &.light{

    }
}