.journalMain__container{
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 229px 10% 0 10%;
    font-family: Montserrat;
}

.journalTop__container{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    gap:20px;
}

.journal__title{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
}

.journalFillters__container{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
}
.journalFilterItem{
    font-size: 28px;
    font-weight: 500;
}
.groupFillterItem__container{
    display: flex;
    align-items: center;
    gap: 30px;
}

.journal__container{
    display: flex;
    flex-direction: column;
    gap:45px;
    overflow-x: scroll;
}

.journalColumns__container{
    display: flex;
    padding: 0 0 0 37px;
    width: 2013px;
}

@media screen and (max-width:'1440px') {
    .journalColumns__container{
        width:fit-content;

    }
}

.journalColumnsLeft__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 16px;
    width: 332px;
    border-radius: 10px 5px 10px 5px;
    height: 123px;
    gap:10px;
}

.journalColumnsLeft__title{
    font-size: 20px;
    font-weight: 400;
}

.journalColumnsLeft__text{
    font-size: 18px;
    font-weight: 400;
    color:#d0d0d0;
}

.journalColumnsCenter__container{
    display: flex;
    gap:10px;
    margin-left: 66px;
    // padding-left:4.3%;
}

@media screen and (max-width:'1920px') {
    .journalColumnsCenter__container{
        // padding-left:2.1%;
    }
}
@media screen and (max-width:'1440px') {
    .journalColumnsCenter__container{
        // padding-left:4.3%;
    }
}

.journalColumnsCenterItem__container{
    display: flex;
    flex-direction: column;
    gap:14px;
}
.journalColumnsCenterItemType{
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px 5px 10px 5px;
}

.journalColumnsCenterItemDate__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px 5px 10px 5px;
    text-align: center;
    gap:5px;
    border-radius: 10px 5px 10px 5px;
    height: 70px;
}

.journalColumnsRight__container{
    display: flex;
    gap:10px;
    margin-left: 40px;
    // padding-left: 4.3%;
}
@media screen and (max-width:'1920px') {
    .journalColumnsRight__container{
        // padding-left:2.1%;
    }
}
@media screen and (max-width:'1440px') {
    .journalColumnsRight__container{
        // padding-left:4.3%;
    }
}
.journalColumnsRightItem__container{
    display: flex;
    flex-direction: column;
    gap:14px;
}

.journalColumnsRightItemType{
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;    
    padding: 3px;
    border-radius: 10px 5px 10px 5px;
}

.journalColumnsRightItemMonth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px 5px 10px 5px;
    text-align: center;
    height: 70px;
}

.journalRows__container{
    display: flex;
    flex-direction: column;
    padding: 0 37px;
}
.journalRowItem__container{
    display: flex;
    align-items: center;
    padding: 5px 37px;
    border-radius: 10px 5px 10px 5px;
    // width: 1013px;
    // width:100%;
    width:fit-content;
}

.journalRowItemLeft__container{
    display: flex;
    gap:15px;
    min-width: 293px;
}

.journalRowItemLeft__number{
    font-size: 20px;
    font-weight:500;
}

.journalRowItemLeft__name{
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    white-space: break;
    text-overflow: ellipsis;
}

.journalRowItemCenter__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: 3.9%;
    margin-left: 66px;

    gap:10px;
}

.journalRowItemRight__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: 4.3%;
    margin-left: 40px;
    gap:14px;
    // width: 215px;
}
.journalRowItemCenterValue__container{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.journalRowItemCenterValue__text{
    border-radius: 10px 5px 10px 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px 0px rgba(159, 158, 158, 0.083);
}
.journalRowItemRightValue__container{
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.journalRowItemRightValue__text{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 0 0 7px 0px rgba(159, 158, 158, 0.083);
}

.journalLessonsThemes__section{
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 100%;
}

.journalLessonsThemes__title{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    margin-left: 9%;
}
.journalLessonsThemes__container{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
}

.journalLessonThemeItem__container{
    display: flex;
    gap:20px;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px 5px 10px 5px;
}
.journalLessonThemeItemDate__container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.journalLessonThemeItemDate__day{
    font-size: 18px;
    font-weight: 400;
}
.journalLessonThemeItemDate__date{
    font-size: 20px;
    font-weight: 500;
}
.journalLessonThemeItem__text{
    font-size: 18px;
    font-weight: 400;
    max-width: 90%;
    overflow: hidden;
    white-space: break;
    text-overflow: ellipsis;
}

.journalMain__container{
    &.dark{
        .journalRowItemCenterValue__text{
            background-color: #102936;
        }
        .journalRowItemRightValue__text{
            background-color: #102936;
        }
        .journalRowItem__container{
            &.even{
                background-color: #102936;
                .journalRowItemCenterValue__text{
                    background-color: #0B1D26;
                }
                .journalRowItemRightValue__text{
                    background-color: #0B1D26;
                }
            }
        }
        .journal__title{
            color:white;
        }
        .journalFilterItem{
            color:white;
        }
        .journalRowItemLeft__number{
            color:white;
        }
        .journalRowItemLeft__name{
            color:white;
        }
        .journalRowItemCenterValue__text{
            color:white;
        }
        .journalRowItemRightValue__container{
            color:white;
        }
        .journalColumnsLeft__title{
            color:#d0d0d0
        }
        .journalColumnsLeft__text{
            color:white;
        }
        .journalColumnsCenterItemType{
            color:white;
        }
        .journalColumnsCenterItemDateDay{
            color:white;
        }
        .journalColumnsCenterItemDate{
            color:white;
        }
        .journalColumnsRightItemType{
            color:white;
        }
        .journalColumnsRightItemMonth{
            color:white;
        }
        .journalColumnsLeft__container{
            background-color: #102936;
        }
        .journalColumnsCenterItemType{
            background-color: #102936;
        }
        .journalColumnsCenterItemDate__container{
            background-color: #102936;
        }
        .journalColumnsRightItemType{
            background-color: #102936;
        }
        .journalColumnsRightItemMonth{
            background-color: #102936;
        }
        .journalLessonThemeItem__container{
            background-color: #102936;
        }
        .journalLessonThemeItemDate__day{
            color:white;
        }
        .journalLessonThemeItemDate__date{
            color:white;
        }
        .journalLessonThemeItem__text{
            color:#d0d0d0;
        }
        .journalLessonsThemes__title{
            color:white;
        }
        .fillterImg {
            stroke: #D0D0D0;
        }
    }
    &.light{
        .fillterImg {
            stroke: #797979;
        }
    }
}

.journalRowItemLeft__container{
}