.journalMain__container{
    display: flex;
    flex-direction: column;
    gap:100px;
    padding: 229px 10% 0 10%;
    font-family: Montserrat;
}

.journalTop__container{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    gap:20px;
}

.journal__title{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    display: flex;
    gap:20px;
}

.journalFillters__container{
    display: flex;
    flex-wrap: wrap;
    gap:50px;
}
.journalFilterItem{
    font-size: 28px;
    font-weight: 500;
    transition: 0.2s;
}
.groupFillterItem__container{
    transition: 0.2s;
    display: flex;
    align-items: center;
    gap: 30px;
}

.journal__container{
    display: flex;
    // flex-direction: column;
    // gap:45px;
}

.journalLeft__container{
    display: flex;
    flex-direction: column;
    // padding: 0 0 0 37px;
    // width: 2013px;
}
.journalRight__container{
    overflow-x: scroll;
}



.journalColumnsLeft__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 16px;
    margin-bottom: 36px;
    width: 332px;
    border-radius: 10px 5px ;
    height: 124px;
    gap:10px;
}

.journalColumnsLeft__title{
    font-size: 20px;
    font-weight: 400;
}

.journalColumnsLeft__text{
    font-size: 18px;
    font-weight: 400;
    color:var(--primary-gray);
}

.journalColumnsCenter__container{
    display: flex;
    gap:10px;
    margin-left: 66px;
    // padding-left:4.3%;
}

.journalColumnsCenterItem__container{
    display: flex;
    flex-direction: column;
    gap:14px;
}
.journalColumnsCenterItemType{
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px 5px;
}

.journalColumnsCenterItemDate__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
    gap:5px;
    border-radius: 10px 5px;
    height: 70px;
}

.journalColumnsRight__container{
    display: flex;
    gap:10px;
    margin-left: 40px;
    // padding-left: 4.3%;
}

.journalColumnsRightItem__container{
    display: flex;
    flex-direction: column;
    gap:14px;
}

.journalColumnsRightItemType{
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;    
    padding: 3px;
    border-radius: 10px 5px ;
}

.journalColumnsRightItemMonth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px 5px ;
    text-align: center;
    height: 70px;
}

.journalRows__container{
    display: flex;
    flex-direction: column;
    padding: 0 37px;
}
.journalRightColumns__container{
    display: flex;
    gap:20px;
    margin-bottom: 36px;
}
.journalRowItem__container{
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-radius: 0 10px 5px 0;
    // width: 1013px;
    // width:100%;
    width:fit-content;
}

.journalRowItemLeft__container{
    display: flex;
    align-items: center;
    gap:15px;
    min-width: 293px;
    padding: 5px 37px;
    height: 50px;
    border-radius: 10px 0 0 5px;
}

.journalRowItemLeft__number{
    font-size: 20px;
    font-weight:500;
}

.journalRowItemLeft__name{
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    white-space: break;
    text-overflow: ellipsis;
}

.journalRowItemCenter__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: 3.9%;
    margin-left: 66px;
    gap:10px;
}

.journalRowItemRight__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-left: 4.3%;
    margin-left: 60px;
    gap:14px;
    // width: 215px;
}
.journalRowItemCenterValue__container{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.journalRowItemCenterValue__text{
    border-radius: 10px 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px 0px rgba(159, 158, 158, 0.083);
}
.journalRowItemRightValue__container{
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.journalRowItemRightValue__text{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 5px;
    box-shadow: 0 0 7px 0px rgba(159, 158, 158, 0.083);
}

.journalLessonsThemes__section{
    display: flex;
    flex-direction: column;
    gap:40px;
    width: 100%;
}

.journalLessonsThemes__title{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    margin-left: 9%;
}
.journalLessonsThemes__container{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
}

.journalLessonThemeItem__container{
    display: flex;
    gap:20px;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    border-radius: 10px 5px ;
}
.journalLessonThemeItemDate__container{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}
.journalLessonThemeItemDate__day{
    font-size: 18px;
    font-weight: 400;
}
.journalLessonThemeItemDate__date{
    font-size: 20px;
    font-weight: 500;
}
.journalLessonThemeItem__text{
    font-size: 18px;
    font-weight: 400;
    max-width: 90%;
    overflow: hidden;
    white-space: break;
    text-overflow: ellipsis;
}
.journalLessonThemeItemType{
    font-size: 16px;
    font-weight: 400;
}



.journalMain__container{
    &.dark{
        .journalRowItemCenterValue__text{
            background-color: var(--secondary-blue);
        }
        .journalRowItemRightValue__text{
            background-color: var(--secondary-blue);
        }
        .journalRowItem__container{
            &.even{
                background-color: var(--secondary-blue);
                .journalRowItemCenterValue__text{
                    background-color: var(--primary-dark);
                }
                .journalRowItemRightValue__text{
                    background-color: var(--primary-dark);
                }
            }
        }
        .journalRowItemLeft__container{
            background-color: var(--primary-dark);
        }
        .journalRowItemLeft__container{
            &.even{
                background-color: var(--secondary-blue);
            }
        }
        .journal__title{
            color:white;
        }
        .journalFilterItem{
            color: var(--primary-gray);
        }
        .journalRowItemLeft__number{
            color:white;
        }
        .journalRowItemLeft__name{
            color:white;
        }
        .journalRowItemCenterValue__text{
            color:white;
        }
        .journalRowItemRightValue__container{
            color:white;
        }
        .journalColumnsLeft__title{
            color:var(--primary-gray)
        }
        .journalColumnsLeft__text{
            color:var(--primary-gray);
        }
        .journalColumnsCenterItemType{
            color:white;
        }
        .journalColumnsCenterItemDateDay{
            color:white;
        }
        .journalColumnsCenterItemDate{
            color:white;
        }
        .journalColumnsRightItemType{
            color:white;
        }
        .journalColumnsRightItemMonth{
            color:white;
        }
        .journalColumnsLeft__container{
            background-color: var(--secondary-blue);
        }
        .journalColumnsCenterItemType{
            background-color: var(--secondary-blue);
        }
        .journalColumnsCenterItemDate__container{
            background-color: var(--secondary-blue);
        }
        .journalColumnsRightItemType{
            background-color: var(--secondary-blue);
        }
        .journalColumnsRightItemMonth{
            background-color: var(--secondary-blue);
        }
        .journalLessonThemeItem__container{
            background-color: var(--secondary-blue);
        }
        .journalLessonThemeItemDate__day{
            color:white;
        }
        .journalLessonThemeItemDate__date{
            color:white;
        }
        .journalLessonThemeItem__text{
            color:var(--primary-gray);
        }
        .journalLessonsThemes__title{
            color:white;
        }
        .fillterImg {
            stroke: var(--primary-gray);
        }
        .journalLessonThemeItemType{
            color:var(--primary-orange);
        }
        .journal_portraitModeWarning_description{
            color: var(--primary-gray);
        }
        .journal_portraitModeWarning{
            color: white;
        }
    }
    &.light{
        .fillterImg {
            stroke: #797979;
        }
        .journalRowItemCenterValue__text{
            background-color: #F2F2F2;
        }
        .journalRowItemRightValue__text{
            background-color: white;
        }
        .journalRowItemLeft__container{
            &.even{
                background-color: #F2F2F2;
            }
        }
        .journalRowItem__container{
            &.even{
                background-color: #F2F2F2;
                .journalRowItemCenterValue__text{
                    background-color: white;
                }
                .journalRowItemRightValue__text{
                    background-color: #F2F2F2;
                }
            }
        }
        .journalColumnsLeft__container{
            background-color: #F2F2F2;
        }
        .journalColumnsCenterItemType{
            background-color: #F2F2F2;
        }
        .journalColumnsCenterItemDate__container{
            background-color: #F2F2F2;
        }
        .journalColumnsRightItemType{
            background-color: #F2F2F2;
        }
        .journalColumnsRightItemMonth{
            background-color: #F2F2F2;
        }
        .journalColumnsCenterItemDate{
            color:var(--primary-orange);
        }
        .journalLessonThemeItem__container{
            background: #F2F2F2;
        }
        .journalLessonThemeItemDate__date{
            color:var(--primary-orange);
        }
        .journalLessonThemeItemType{
            color:black;
        }
        .journalColumnsLeft__text{
            color:#797979;
        }
    }
}

.groupFillterItem__container:hover{
    cursor:pointer;
    .fillterImg{
        stroke: var(--primary-orange);
    }
    .journalFilterItem{
        color:white;
    }
}

@media screen and (min-width:1440px) {
    .journalTop__container{
        padding: 0;
    }
    .journalFillters__container{
        gap:20px;
        // margin-left: -11px;
    }
    .journalLessonsThemes__title{
        margin-left: 0;
    }
}
@media screen and (max-width:'1440px') {
    .journalLeft__container{
        width:fit-content;
    }
}

.journal_portraitModeWarning{
    display: none;
    flex-direction: column;
    gap:30px;
    align-items: center;
}
.journal_portraitModeWarning_header{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.1em;
    text-align: center;
}
.journal_portraitModeWarning_description{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: center;
}
@media screen and (max-width:780px) {
    .journalMain__container{
        padding: 110px 5% 0;
    }
    .journalTop__container{
        padding: 0;
    }
}
@media screen and (orientation:portrait) and (max-width:780px) {
	.journal__container{
        display: none;
    }
    .journal_portraitModeWarning{
        display: flex;
    }
}
@media screen and (orientation:landscape) and (max-width:780px) {
	.journal__container{
        display: flex;
    }
    .journal_portraitModeWarning{
        display: none;
    }
}