.printForm_container{
    display: flex;
    flex-direction: column;
    // position: absolute;
    // z-index: -1000;
    // display: none;
}
.printForm_page{
    width: 797px;
    height: 297mm;
    display: flex;
    flex-direction: column;
    padding: 2cm 1cm 2cm 2.5cm;
    background-color: white;
    font-family: 'Times New Roman' !important;
    color:black !important;
    gap:1.25cm;
}

.printForm_header{
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 20.7px;
}

.printForm_subheader{
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 18.4px;
}

.printForm_subsubheader{
    font-size: 14px;
    font-weight: 400;
    line-height: 20.7px;
}

.printFormJournal_top_left,.printFormJournal_top_dates_specialDate,.printFormJournal_top_student,.printFormJournal__studentNumber,.printFormLessons_top_task,.printFormLessons_top_type,.printFormLessons_top_date,.printFormLessons_top_theme,.printFormLessons_top_task.printFormJournal_top_dates_date,.printFormJournal_top_dates_date,.printFormJournal__student,.printFormJournal__mark{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.printFormJournal__container,.printFormLessons_main{
    display: flex;
    width: fit-content;
    flex-direction: column;
    font-size: 10px !important;
    border-left:1px solid black;
    border-top:1px solid black;
}


.printFormJournal_top,.printFormLessons_lessons,.printFormLessons_top,.printFormJournal_top_dates,.printFormJournal__main,.printFormJournal__marks,.printFormJournal__students,.printFormJournal__marks_section,.printFormJournal__marks{
    display: flex;
}
.printFormJournal__students,.printFormLessons_lessons,.printFormJournal__marks_section{
    flex-direction: column;
}

.printFormJournal__mark{
    width: 25px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.printFormJournal__student{
    width: 145px;
    height: 18px;
}

.printFormJournal_studentName{
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95px;
    padding-left: 5px;
    padding-top: 3px;
}

.printFormJournal_top_dates_date,.printFormJournal_top_dates_specialDate{
    width: 25px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.printFormJournal_top_dates_date:after{
    content:"";
    position:absolute;
    border-top:1px solid black;
    width:43px;
    right: -44px;
    top:0;
    transform: rotate(126deg);
    transform-origin: 0% 0%;
  }
.printFormJournal__studentNumber{
    width: 47px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.printFormJournal_top_left{
    width: 47px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
}
// .printFormJournal_top_left:after{
//     content:"";
//     position:absolute;
//     border-top:1px solid black;
//     width:58px;
//     transform: rotate(36deg);
//     transform-origin: 0% 0%;
//   }
.printFormJournal_top_student{
    width: 145px;
    height: 35px;
    position: relative;
}
.printFormJournal_top_student:after{
    content:"";
    position:absolute;
    border-top:1px solid black;
    width:148px;
    transform: rotate(13deg);
    transform-origin: 0% 0%;
  }
.printFormLessons_top_type,.printFormLessons_top_date,.printFormLessons_top_theme,.printFormLessons_top_task{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.printFormLessons_top_type{
    width: 76px;
    height: 35px;
}
.printFormLessons_top_date{
    width: 103px;

    height: 35px;
}
.printFormLessons_top_theme{
    width: 361px;
    height: 35px;
}
.printFormLessons_top_task{
    width: 119px;
    height: 35px;
}
.printFormLessons_lesson{
    display: flex;
}