// $sizes: ( 
// 	'xxxs' : 320,
// 	'xxs' : 375,
// 	'xs' : 425,
// 	's' : 640,
// 	'm' : 768,
// 	'l' : 1024,
// 	'xl' : 1280,
// 	'xxl' : 1440,
// 	'xxxl': 1920,
// );

*{
	border: 1px solid red;
}
:root{
	--primary-dark:#0B1D26;
	--primary-orange:#EFB42D;
	--primary-gray:#D0D0D0;
	--secondary-blue:#102936;
}
.input{
	border-radius: 10px 5px;
    height: 63px;
    padding:20px 28px;
	font-size: 18px;
	font-family: Montserrat;
	transition: 0.3s;
}
.form_input:focus::placeholder {
	color: transparent !important;
}
.form_input:focus{
	// box-shadow: 0px 3px 5px var(--primary-orange);
	// border-bottom: 1px solid var(--primary-orange);
}

.primary_button{
	width: 191px;
    height: 41px;	
    border-radius: 10px 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 10px 5px;
	font-family: Montserrat;
	font-size: 18px;
}
.textButton{
	color:var(--primary-orange);
    background-color: transparent;
    cursor: pointer;
	transition: 0.2s;
}
.textButton:hover{
	color: white;
}
.textButton:active{
	color: rgb(187,151,66);
}

html,body{
    scroll-behavior: smooth;
	width: 100%;
	font-size: 100%;
	line-height: 1;
    font-family: 'Jost';
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: var(--primary-dark);
}
body.scrollOff{
	// position: fixed !important;
	overflow: hidden;
}
body.scrollOn{
	// position: unset !important;
	overflow: scroll;
}
*{
	box-sizing: border-box;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input::-ms-reveal,
input::-ms-clear {
	display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 50px 50px var(--secondary-blue);
	caret-color: white;
	background-color: rgb(255, 7, 7);
}


.layout__container{
	&.dark{
		background: var(--primary-dark);
		input:-webkit-autofill{
			caret-color: white;
		}
		
	}
	&.light{
		background: #FFF;
	}
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color:#0a1c26d6;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(104, 103, 103, 0.723);
	border-radius: 10px;
}
::-webkit-scrollbar-corner{
    background-color: gray;
}

.ant-select-selection-placeholder{
	// font-size: 28px !important;
	// font-weight: 500 !important;
	// line-height: 34px !important;
	// letter-spacing: 0.1em !important;
	// //styleName: H/H4;
	font-family: Montserrat !important;
	font-size: 18px !important;
	font-weight: 400 !important;
	line-height: 22px !important;
	letter-spacing: 0.1em !important;
}
input[type=submit]{
	cursor: pointer;
}
input::placeholder{
	font-family: Montserrat !important;
	font-size: 18px !important;
	font-weight: 400 !important;
	line-height: 22px !important;
	letter-spacing: 0.1em !important;
}
.journalSubject_fillter_container{
	.fillter_select{
		max-width: 400px;
		overflow: hidden;
	}

}
.header{
	font-family: Montserrat;
	font-size: 28px;
	font-weight: 500;
	line-height: 34.13px;
	letter-spacing: 0.1em;
	text-align: left;
}
.subHeader{
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 400;
	line-height: 24.38px;
	letter-spacing: 0.1em;
	text-align: left;
}
.subSubHeader{
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.94px;
	letter-spacing: 0.1em;
	text-align: left;
}

.fillter_container{
	align-items: center;
	// width: calc(fit-content + 100px) !important;

	.ant-select-arrow{
		display: none;
	}
	svg{
		width: 20px;
	}
	.fillter_select{
		display: flex !important;
		align-items: center !important;
		width: fit-content !important;
	}
}
.fillterPlaceholder_container{
	display:flex;
	gap:30px;
	align-items:center;
}
.fillterItem_container{
	display: flex;
	gap:30px;
}
.fillter_placeholder,
.fillter_container .ant-select-selection-item {
	font-family: Montserrat;
	font-size: 28px;
	font-weight: 500;
	line-height: 34px;
	letter-spacing: 0.1em;
	display: flex;
	gap:30px;
	align-items: center;
}
.select_container{
    display: flex;
    gap:20px;
    flex-direction: column;
}
.select_label{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
	width: 100%;
	overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.form_input{
	width: 100%;
    font-size: 18px;
    border-radius: 10px 5px;
    height: 63px;
    padding-left:28px;
	overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
	transition: 0.3s;
	outline: none;
	border: none;
	color:white !important;
	input,input::placeholder{
		color:white !important;
	}
	
	.ant-picker-suffix{
		color:white;
	}
}
.ant-select-clear{
	// position: static !important;
	// width: 20px !important;
	// height: 20px !important;
	margin-top: -9px !important;
	// top:calc(50% - 3px) !important;
	// right: -10px !important;
	background-color: transparent !important;
	opacity: unset !important;
	.anticon-close-circle{
		font-size: 20px;
		color:white !important;
	}
}
.ant-select .ant-select-clear{
	inset-inline-end:-2px;
}
@media screen and (max-width:780px) {
	.ant-select .ant-select-clear{
		inset-inline-end:-11px;
	}
}
.ant-select-selector{
	border: none !important;
	box-shadow: none !important;
}
.ant-select-focused{
	border: none;
}
.ant-select-selection-item{
	font-size: 18px;
	font-family: Montserrat;
}
.ant-carousel .slick-dots-bottom{
	bottom: -20px !important;
	z-index: 1 !important;
}
li.slick-active{
	button{
		background-color: var(--primary-orange) !important;
	}
}
.ant-upload-list.ant-upload-list-text{
	display: none !important;
}
.securityGuardLoader{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ant-modal-header{
	background-color: transparent !important;
}
.ant-modal-title{
	color:white !important;
}
.img-crop-control-rotation button,
.img-crop-control-zoom button{
	color: white !important;

}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

body{
	&.dark{
		.ant-picker-dropdown .ant-picker-panel-container{
			background-color: #123547 ;
		}
		.ant-select-dropdown{
			background-color: #123547 ;
			div{
				color:white;
			}
		}
		.ant-select-selection-placeholder,
		.ant-select-selection-item-content{
			color:var(--primary-gray);
		}
		.ant-select-selection-item{
			// background-color: var(--primary-dark);
			background-color: transparent;
		}
		.ant-select-item-option-selected{
			.ant-select-item-option-content{
				color:black;
			}
		}
		.ant-picker-dropdown .ant-picker-panel-container{
            background-color: #123547 !important;
        }
        .ant-picker-dropdown .ant-picker-header,
		.ant-picker-super-prev-icon::before,
		.ant-picker-header-super-prev-btn,
		.ant-picker-header-prev-btn,
		.ant-picker-super-prev-icon::after,
		.ant-picker-next-icon::after,
		.ant-picker-next-icon::before,
		.ant-picker-super-next-icon::before,
		.ant-picker-super-next-icon::after,
		.ant-picker-today-btn,
		.ant-picker-body th,
		.ant-picker-body td{
            color:white !important;
        }
		.ant-picker-dropdown .ant-picker-month-btn:hover,
		.ant-picker-dropdown .ant-picker-year-btn:hover,
		.ant-picker-super-prev-icon:hover::before,
		.ant-picker-header-prev-btn:hover,
		.ant-picker-super-prev-icon:hover::after,
		.ant-picker-super-prev-icon:hover::before,
		.ant-picker-next-icon:hover::after,
		.ant-picker-next-icon:hover::before,
		.ant-picker-decade-btn:hover,
		.ant-picker-cell:hover,
		.ant-picker-header-super-next-btn:hover .ant-picker-next-icon::after,
		.ant-picker-header-super-next-btn:hover .ant-picker-next-icon::before,
		.ant-picker-today-btn:hover{
            color:var(--primary-orange) !important;
        }
		.ant-picker-clear{
			background-color: var(--primary-dark) !important;
			color: white;
		}
		.ant-picker-clear:hover{
			background-color: inherit;
			color: white;
		}
		.ant-picker-cell{
			transition: 0.2s;
			border-radius: 5px;
		}
		.ant-picker-cell:hover{
			background-color: black;
		}
		
		.ant-picker-cell-today .ant-picker-cell-inner::before{
			border: 1px solidvar(--primary-orange) !important;
		}
		
		.ant-picker-cell-selected{
			.ant-picker-cell-inner{
				color:var(--primary-orange) !important;
				background-color: var(--primary-dark) !important;
			}
		}
		
		.ant-select-selection-search-mirror,
		.ant-select-selection-search-input{
			color:white !important; 
		}
		
		.ant-select-selection-item{
			color:white;
			padding: 0px 5px !important;
			border-radius: 5px;
		}
		.fillter_container{
			display: flex;
			align-items: center;
			.ant-select-selector{
				background-color: transparent !important;
			}
		}
		.ant-select-selection-item{
			color:white !important;
			border-radius: 10px 5px;
		}
		.ant-select-selection-item-remove{
			color:white;
		}
		.createHomeTaskDate{
			color:white;
		}
		.ant-modal-content{
			background-color: var(--primary-dark);
			color:white;
		}
		.ant-modal-close-icon{
			color:white;
		}
		.ant-popover-inner{
			box-shadow: 0px 1px 10px 0px #D4D4D41A;
		}
		.ant-popover.userPopup{
			.ant-popover-inner{
				background-color: var(--primary-dark);
			}
			
		}
		.ant-popover.passwordInfo_popover{
			.ant-popover-inner{
				background-color: var(--secondary-blue);
				box-shadow: none;
			}
			.ant-popover-arrow::before{
				background-color: var(--secondary-blue) !important;
			}
		}
		.input{
			background-color: var(--secondary-blue);
			color: white;
		}
		.input::placeholder{
			color: var(--primary-gray);
		}
		.primary_button{
			background-color: var(--secondary-blue);
			color:white;
			transition: 0.2s;
		}
		.primary_button:hover{
			color: var(--primary-orange);
		}
		.primary_button:active{
			color: var(--primary-orange);
			background: linear-gradient(0deg, rgba(16, 16, 16, 0.2), rgba(16, 16, 16, 0.2)),
			linear-gradient(0deg, #102936, #102936);

		}
		.primary_button:disabled{
			opacity: 0.2;
		}
		// .ant-popover-arrow{
		// 	--antd-arrow-background-color:transparent;
		// }
		.header{
			color: white;
		}
		.subHeader{
			color: white;
		}
		.subSubHeader{
			color:var(--primary-gray);
		}
		.select_label{
			color:white;
		}
		.form_input{
			background-color: var(--secondary-blue);
			color: white;
		}
		.form_input::placeholder{
			color: var(--primary-gray);
		}
	}
	&.light{
		.ant-picker-dropdown .ant-picker-panel-container{
			background-color: #ffffff ;
		}
		.ant-select-dropdown{
			background-color: #ffffff ;
			div{
				color:black;
			}
		}
		.ant-select-selection-placeholder{
			color:black;
		}
	}
}

@media screen and (min-width:1440px) {
	.fillter_container{
		margin-left: -11px;
	}
}

@media screen and (max-width:780px) {
	.slick-slide.slick-active.slick-current,.slick-slide{
        // width: unset !important;
        width: 98vw;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
	.ant-select-selector{
		padding: 0 !important;
	}
}
