// $sizes: ( 
// 	'xxxs' : 320,
// 	'xxs' : 375,
// 	'xs' : 425,
// 	's' : 640,
// 	'm' : 768,
// 	'l' : 1024,
// 	'xl' : 1280,
// 	'xxl' : 1440,
// 	'xxxl': 1920,
// );

// @mixin media($minmax, $media) {
// 	@each $size, $resolution in $sizes {
// 	  @if $media == $size {
// 		@media only screen and (#{$minmax}-width: $resolution) {
// 		  @content;
// 		}
// 	  }
// 	}
//   }
:root{
	--primary-dark:#0B1D26;
}
html,body{
    scroll-behavior: smooth;
	width: 100%;
	font-size: 100%;
	line-height: 1;
    font-family: 'Jost';
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*{
	box-sizing: border-box;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.layout__container{
	&.dark{
		background: #0B1D26;
	}
	&.light{
		background: #FFF;
	}
}

body{
	&.dark{
		.ant-picker-dropdown .ant-picker-panel-container{
			background-color: #123547 ;
		}
		.ant-select-dropdown{
			background-color: #123547 ;
			div{
				color:white;
			}
		}
		.ant-select-selection-placeholder{
			color:white;
		}
		.ant-select-selection-item-content{
			color:white;
		}
		.ant-select-selection-item{
			background-color: #0B1D26;
		}
		.ant-select-item-option-selected{
			.ant-select-item-option-content{
				color:black;
			}
		}
	}
	&.light{
		.ant-picker-dropdown .ant-picker-panel-container{
			background-color: #ffffff ;
		}
		.ant-select-dropdown{
			background-color: #ffffff ;
			div{
				color:black;
			}
		}
		.ant-select-selection-placeholder{
			color:black;
		}
	}
}