html,body{
    scroll-behavior: smooth;
    background: #0B1D26;
	width: 100%;
	font-size: 100%;
	line-height: 1;
    font-family: 'Jost';
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*{
	box-sizing: border-box;
}
