// $sizes: ( 
// 	'xxxs' : 320,
// 	'xxs' : 375,
// 	'xs' : 425,
// 	's' : 640,
// 	'm' : 768,
// 	'l' : 1024,
// 	'xl' : 1280,
// 	'xxl' : 1440,
// 	'xxxl': 1920,
// );

// @mixin media($minmax, $media) {
// 	@each $size, $resolution in $sizes {
// 	  @if $media == $size {
// 		@media only screen and (#{$minmax}-width: $resolution) {
// 		  @content;
// 		}
// 	  }
// 	}
//   }
*{
	border: 1px solid red;
}
:root{
	--primary-dark:#0B1D26;
}
html,body{
    scroll-behavior: smooth;
	width: 100%;
	font-size: 100%;
	line-height: 1;
    font-family: 'Jost';
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
*{
	box-sizing: border-box;
}

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input::-ms-reveal,
input::-ms-clear {
	display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #00000000;
}

.layout__container{
	&.dark{
		background: #0B1D26;
	}
	&.light{
		background: #FFF;
	}
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color:#0a1c26d6;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(104, 103, 103, 0.723);
	border-radius: 10px;
}
::-webkit-scrollbar-corner{
    background-color: gray;
}
.fillter_container{
	align-items: center;
	width: calc(fit-content + 100px) !important;
	
	.ant-select-selection-search-input{
		font-size: 28px !important;
		font-weight: 500 !important;
		line-height: 34px !important;
		letter-spacing: 0.1em !important;
	}
	.ant-select-arrow{
		display: none;
	}
	svg{
		width: 20px;
	}
	.fillter_select{
		display: flex !important;
		align-items: center !important;
		width: fit-content !important;
	}
}
.fillterPlaceholder_container{
	display:flex;
	gap:30px;
	align-items:center;
}
.fillterItem_container{
	display: flex;
	gap:30px;
}
.fillter_placeholder,
.fillter_container .ant-select-selection-item {
	font-family: Montserrat;
	font-size: 28px;
	font-weight: 500;
	line-height: 34px;
	letter-spacing: 0.1em;
	display: flex;
	gap:30px;
	align-items: center;
}

.ant-select-clear{
	position: static !important;
	width: 20px !important;
	height: 20px !important;
	margin-top: 3px !important;
	// top:calc(50% - 3px) !important;
	// right: -10px !important;
	background-color: transparent !important;
	opacity: unset !important;
	.anticon-close-circle{
		font-size: 20px;
		color:white !important;
	}
}
.ant-select-selector{
	border: none !important;
}

body{
	&.dark{
		.ant-picker-dropdown .ant-picker-panel-container{
			background-color: #123547 ;
		}
		.ant-select-dropdown{
			background-color: #123547 ;
			div{
				color:white;
			}
		}
		.ant-select-selection-placeholder,
		.ant-select-selection-item-content{
			color:white;
		}
		.ant-select-selection-item{
			background-color: #0B1D26;
		}
		.ant-select-item-option-selected{
			.ant-select-item-option-content{
				color:black;
			}
		}
		.ant-picker-dropdown .ant-picker-panel-container{
            background-color: #123547 !important;
        }
        .ant-picker-dropdown .ant-picker-header,
		.ant-picker-super-prev-icon::before,
		.ant-picker-header-super-prev-btn,
		.ant-picker-header-prev-btn,
		.ant-picker-super-prev-icon::after,
		.ant-picker-next-icon::after,
		.ant-picker-next-icon::before,
		.ant-picker-super-next-icon::before,
		.ant-picker-super-next-icon::after,
		.ant-picker-today-btn,
		.ant-picker-body th,
		.ant-picker-body td{
            color:white !important;
        }
		.ant-picker-dropdown .ant-picker-month-btn:hover,
		.ant-picker-dropdown .ant-picker-year-btn:hover,
		.ant-picker-super-prev-icon:hover::before,
		.ant-picker-header-prev-btn:hover,
		.ant-picker-super-prev-icon:hover::after,
		.ant-picker-super-prev-icon:hover::before,
		.ant-picker-next-icon:hover::after,
		.ant-picker-next-icon:hover::before,
		.ant-picker-decade-btn:hover,
		.ant-picker-cell:hover,
		.ant-picker-header-super-next-btn:hover .ant-picker-next-icon::after,
		.ant-picker-header-super-next-btn:hover .ant-picker-next-icon::before,
		.ant-picker-today-btn:hover{
            color:#EFB42D !important;
        }

		.ant-picker-cell{
			transition: 0.3s;
			border-radius: 5px;
		}
		.ant-picker-cell:hover{
			background-color: black;
		}
		
		.ant-picker-cell-today .ant-picker-cell-inner::before{
			border: 1px solid#EFB42D !important;
		}
		
		.ant-picker-cell-selected{
			.ant-picker-cell-inner{
				color:#EFB42D !important;
				background-color: #0B1D26 !important;
			}
		}
		
		.ant-select-selection-search-mirror,
		.ant-select-selection-search-input{
			color:white !important; 
		}
		
		.ant-select-selection-item{
			color:white;
			padding: 0px 5px !important;
			border-radius: 5px;
		}
		.fillter_container{
			display: flex;
			align-items: center;
			.ant-select-selector{
				background-color: transparent !important;
			}
		}
		.ant-select-selection-item{
			color:white !important;
			border-radius: 10px 5px;
		}
		.ant-select-selection-item-remove{
			color:white;
		}
		.createHomeTaskDate{
			color:white;
		}
	}
	&.light{
		.ant-picker-dropdown .ant-picker-panel-container{
			background-color: #ffffff ;
		}
		.ant-select-dropdown{
			background-color: #ffffff ;
			div{
				color:black;
			}
		}
		.ant-select-selection-placeholder{
			color:black;
		}
	}
}
@media screen and (min-width:1440px) {
	.fillter_container{
		margin-left: -11px;
	}
}